In [17]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import csv
from functions import split_old
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:

# Création du DATAFRAME name
global_df_name = pd.read_csv("./DATA/RAW/name.basics.tsv", sep='\t')
df_names = global_df_name.drop(["birthYear","deathYear","knownForTitles"],axis=1)
df_names = df_names.dropna()
df_name = df_names[["nconst","primaryName"]][df_names["primaryProfession"].str.contains("actor|actress", regex=True)]
del df_names
df_name.head()

      nconst      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

In [10]:
df_name = df_name.set_index("nconst")

In [13]:
df_name.head()

               primaryName
nconst
nm0000001     Fred Astaire
nm0000002    Lauren Bacall
nm0000003  Brigitte Bardot
nm0000004     John Belushi
nm0000005   Ingmar Bergman

In [14]:
# Méthode pour splitter : va directement dans le fichier CURATED : split.file_spliter("DATA","name.basics.tsv","primaryProfession")
split_old.file_spliter("DATA","title.basics.tsv","titleType")

# Création du DATAFRAME film
global_df_film = pd.read_csv("DATA/CURATED/movie.csv", sep=",")

# Supression des colonnes dont on ne se sert pas
df_films = global_df_film.drop(["primaryTitle","isAdult","startYear","endYear","runtimeMinutes","genres"],axis=1)
df_films.head()

      tconst titleType                  originalTitle
0  tt0000009     movie                     Miss Jerry
1  tt0000147     movie  The Corbett-Fitzsimmons Fight
2  tt0000335     movie          Soldiers of the Cross
3  tt0000502     movie                       Bohemios
4  tt0000574     movie    The Story of the Kelly Gang

In [18]:
# Méthode pour splitter : va directement dans le fichier CURATED : split.file_spliter("DATA","name.basics.tsv","primaryProfession")
split_old.file_spliter("DATA","title.principals.tsv","category")

KeyboardInterrupt: