# Intermovie, la bibliothèque du 7ème art

In [1]:
%load_ext autoreload
%autoreload 2

Import des librairies

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Chargement des TSV

In [3]:
data_noms = pd.read_csv('./data/name.basics.tsv', sep="\t")

In [4]:
# data_films = pd.read_csv('./data/title.principals.tsv', sep="\t")

In [5]:
data_title = pd.read_csv('./data/title.basics.tsv', sep="\t")
data_title

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6321297,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6321298,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6321299,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6321300,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6321301,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

### Création du premier CSV

In [6]:
data_noms = data_noms.drop(["nconst", "birthYear", "deathYear"], axis = 1)
data_title = data_title.drop(["titleType","originalTitle","isAdult","startYear","endYear","runtimeMinutes","genres"], axis = 1)

In [7]:
data_title = data_title.dropna()

In [8]:
data_title

            tconst               primaryTitle
0        tt0000001                 Carmencita
1        tt0000002     Le clown et ses chiens
2        tt0000003             Pauvre Pierrot
3        tt0000004                Un bon bock
4        tt0000005           Blacksmith Scene
...            ...                        ...
6321297  tt9916848              Episode #3.17
6321298  tt9916850              Episode #3.19
6321299  tt9916852              Episode #3.20
6321300  tt9916856                   The Wind
6321301  tt9916880  Horrid Henry Knows It All

[6321292 rows x 2 columns]

In [9]:
data_noms

,primaryName,primaryProfession,knownForTitles
0,Fred Astaire,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,Lauren Bacall,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,Brigitte Bardot,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,John Belushi,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,Ingmar Bergman,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"
...,...,...,...
9706917,Romeo del Rosario,"animation_department,art_department",tt2455546
9706918,Essias Loberg,NaN,\N
9706919,Harikrishnan Rajan,cinematographer,tt8736744
9706920,Aayush Nair,cinematographer,\N
9706921,Andre Hill,NaN,\N

In [10]:
data_noms = data_noms.dropna()
data_noms = data_noms[["primaryName","knownForTitles"]][data_noms['primaryProfession'].str.contains('actor|actress', regex=True)]
data_noms = data_noms[["primaryName","knownForTitles"]][data_noms['knownForTitles'].str.contains('t')]

In [12]:
data_noms["primaryName"].astype('list')

TypeError: data type "list" not understood