## Import des librairies

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import csv
from functions import split
import matplotlib.pyplot as plt

## Préparation

In [ ]:
# CREATION DE L'INSTANCE "SPLIT"
splitter_object = split.splitter("./data", '\t')

splitter_object.file_splitter("title.principals.tsv", "category", "title.principals")
splitter_object.file_splitter("title.akas.tsv", "region", "title.akas")
splitter_object.file_splitter("title.basics.tsv", "titleType", "title.basics")

# La liste des acteurs par film

In [2]:
# CREATION ET MODIFICATION DES DATAFRAMES "actor" et "actress"
global_actor = pd.read_table("./data/CURATED/title.principals/actor.csv", sep=',')
global_actress = pd.read_table("./data/CURATED/title.principals/actress.csv", sep=',')
df_actor_actress = pd.concat([global_actor,global_actress])
df_actor_actress.drop(["ordering","category","job","characters"], axis=1,inplace=True)

In [3]:
# CREATION ET MODIFICATION DES DATAFRAMES "movie"
global_movie = pd.read_table("./data/CURATED/title.basics/movie.csv", sep=',')
df_movie = global_movie.drop(["titleType","primaryTitle","isAdult","startYear","endYear","runtimeMinutes","genres"], axis=1)

# CREATION ET MODIFICATION DES DATAFRAMES "name_actor"
global_name_actor = pd.read_table("./data/RAW/name.basics.tsv", sep='\t')
df_name_actor = global_name_actor.dropna()
df_name_actor = df_name_actor[["nconst","primaryName"]][df_name_actor["primaryProfession"].str.contains("actor|actress", regex=True)]

# CHANGEMENT DES INDEX
df_actor_actress.set_index("tconst", inplace=True)
df_movie.set_index("tconst", inplace=True)
df_name_actor.set_index("nconst", inplace=True)

In [4]:
# FUSION ENTRE "df_actor_actress" ET "df_movie"
df_join_actor_movie = df_actor_actress.join(df_movie)
df_join_actor_movie.set_index("nconst", inplace=True)

# FUSION DES DATAFRAMES "df_join_actor_movie" ET "df_name_actor"
df_join_total = df_join_actor_movie.join(df_name_actor)
df_join_total = df_join_total.reset_index()
df_final = df_join_total.drop(["nconst"], axis=1)

In [22]:
## SUPRESSION DES DATAFRAMES QUI NE SONT PLUS NECESSAIRES
del df_actor_actress
del df_join_actor_movie
del df_join_total
del df_movie
del df_name_actor

# La liste des films Américains (en gardant leur nom en français) et leur note moyenne

In [24]:
# CREATION ET MODIFICATION DU DATAFRAME "rating"
global_rating = pd.read_csv("./data/RAW/title.ratings.tsv", sep='\t')
df_rating = global_rating.drop(["numVotes"], axis=1)
df_rating = df_rating.set_index("tconst")

In [25]:
# CREATION ET MODIFICATION DU DATAFRAME "us"
global_us = pd.read_csv("data/CURATED/title.akas/US.csv")
df_us = global_us.dropna()
df_us = df_us.drop(["ordering","title","region","language","types","attributes","isOriginalTitle"],axis=1)
df_us.set_index("titleId", inplace=True)

In [26]:
# FUSION DES DATAFRAMES "rating" ET "us"
df_rating_us = df_us.join(df_rating)

In [27]:
# CREATION ET MODIFICATION DU DATAFRAME "basics"
global_basics = pd.read_csv("data/CURATED/title.basics/movie.csv")
df_basics = global_basics.dropna()
df_basics = df_basics.drop(["titleType","primaryTitle","isAdult","startYear","endYear","runtimeMinutes","genres"],axis=1)
df_basics.set_index("tconst", inplace=True)

In [28]:
# FUSION DES DATAFRAMES "rating_us" ET "basics"
df_total2 = df_rating_us.join(df_basics)
df_final2 = df_total2.dropna()

In [29]:
# SUPRESSION DES DATAFRAMES QUI NE SONT PLUS NECESSAIRES
del df_basics
del df_rating_us
del df_rating
del df_total2
del df_us

# Les notes moyennes des différents genres

In [34]:
global_basics[:2]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"

In [35]:
global_genre = pd.read_csv("data/RAW/name.basics.tsv", sep="\t")